@charset "utf-8";

.modal-dialog {
    position: relative;
    width: 400px;
    min-width: 400px;
    margin: 10% auto;
}

.modal-footer {
    width: auto;
    overflow: hidden;
    padding: 15px;
    text-align: center;
    border-top: 1px solid #ebedee;
}

* {
    -webkit-box-sizing: unset;
}

pre {
    display: block;
    padding: 0;
    margin: 0;
    font-size: inherit;
    color: inherit;
    word-break: break-all;
    word-wrap: break-word;
    white-space: pre-wrap;
    background-color: transparent;
    border: 0;
    border-radius: 0;
}

.processtype01 > ol {
    margin-top: 20px;
}

.processtype01 > ol:first-child {
    margin-top: 0;
}

#modalSpinner .loader {
    width: 125px;
    height: 125px;
    max-width: 125px;
    max-height: 125px;
    border-top: 16px solid blue;
    border-left: 16px solid pink;
    border-bottom: 16px solid red;
    border-right: 16px solid green;
    border-radius: 50%;
    animation: spin 1s linear infinite;
}

#modalSpinner .row {
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 200px;
    height: 200px;
    margin: auto;
    position: absolute;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.portlet.box.custom-progress > .portlet-title, .portlet.custom-progress, .portlet > .portlet-body.custom-progress {
    background-color: #13bef6;
}

.portlet.box.custom-progress > .portlet-title > .caption, .portlet.box.custom-progress > .portlet-title > .caption > i {
    color: #fff;
    font-weight: 600;
}

.portlet.box.custom-progress {
    border-top: 0;
}

.processtype01 > ol > li {
    letter-spacing: normal;
    display: inline-block;
    vertical-align: top;
    padding: 0 32px 0 0;
    background: url("../images/process02_arrow.png") 97% 50% no-repeat;
    position: relative;
    zoom: 1;
    cursor: default;
    user-select: none;
}

.portlet {
    overflow: visible;
    width: 328px;
    margin-top: 0;
    margin-bottom: 25px;
    padding: 0;
    border-radius: 4px;
    box-shadow: 0 2px 1px rgba(0, 0, 0, 0.15);
    -webkit-box-shadow: 0 2px 1px rgba(0, 0, 0, 0.15);
    cursor: default;
    user-select: none;
}

.custom-rearrange-job-order-menu2 {
    margin-left: 4px;
    display: block;
}

#custom-rearrange-job-order-menu-div-wrapper {
    position: absolute;
    overflow-y: scroll;
    overflow-x: hidden;
    width: 46px;
    max-height: 194px;
    top: 30px;
    background: #fff;
    border: 1px solid #a7a7a8;
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.2);
    z-index: 999;
    min-width: 46px;
    color: orangered;
}

#custom-rearrange-job-order-menu-wrapper {
    width: 100%;
    background: #fff;
    min-width: 46px;
    color: orangered;
}

.portlet.box > .portlet-title > .panel-tools a {
    margin: 0 0 0 6px;
}

.tool-ico-rearrange {
    display: block;
    width: 15px;
    height: 15px;
    line-height: 15px;
    background: url(../images/tool_ico_rearrange.png) no-repeat;
    vertical-align: middle;
}

.source_num .line_bar_red {
    border-right: 0.5em solid #ff4500;
}

.source_num .line_bar_blue {
    border-right: 0.5em solid #1714FF;
}

.source_num .line_bar_green {
    border-right: 0.5em solid #14FF1A;
}

.location {
    margin-bottom: 0;
}

.tool-ico-revert {
    display: block;
    width: 15px;
    height: 15px;
    line-height: 15px;
    background: url(../images/tool_ico_revert.png) no-repeat;
    vertical-align: middle;
}

.custom-cf-url-list-item {
    padding: 10px;
    min-height: 20px;
}

.custom-cf-url-list-item > div {
    float: left;
    width: 46%;
    font-size: 15px;
}

.custom-cf-url-list-item:hover {
    background-color: #f3f5f7;
}

.custom-cf-url-list-item a:hover {
    color: #fda811;
}
