@charset "utf-8";

.modal-dialog {
    position: relative;
    width: 400px;
    min-width: 400px;
    margin: 10% auto;
}

.modal-footer {
    width: auto;
    overflow: hidden;
    padding: 15px;
    text-align: center;
    border-top: 1px solid #ebedee;
}

* {
    -webkit-box-sizing: unset;
}

pre {
    display: block;
    padding: 0;
    margin: 0;
    font-size: inherit;
    color: inherit;
    word-break: break-all;
    word-wrap: break-word;
    white-space: pre-wrap;
    background-color: transparent;
    border: 0;
    border-radius: 0;
}

.processtype01 > ol {
    margin-top: 20px;
}

.processtype01 > ol:first-child {
    margin-top: 0;
}

#modalSpinner .loader {
    width: 125px;
    height: 125px;
    max-width: 125px;
    max-height: 125px;
    border-top: 16px solid blue;
    border-left: 16px solid pink;
    border-bottom: 16px solid red;
    border-right: 16px solid green;
    border-radius: 50%;
    animation: spin 1s linear infinite;
}

#modalSpinner .row {
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 200px;
    height: 200px;
    margin: auto;
    position: absolute;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.portlet.box.custom-progress > .portlet-title, .portlet.custom-progress, .portlet > .portlet-body.custom-progress {
    background-color: #13bef6;
}

.portlet.box.custom-progress > .portlet-title > .caption, .portlet.box.custom-progress > .portlet-title > .caption > i {
    color: #fff;
    font-weight: 600;
}

.portlet.box.custom-progress {
    border-top: 0;
}

.processtype01 > ol > li {
    letter-spacing: normal;
    display: inline-block;
    vertical-align: top;
    padding: 0 32px 0 0;
    background: url("../images/process02_arrow.png") 97% 50% no-repeat;
    position: relative;
    zoom: 1;
    cursor: default;
    user-select: none;
}

.portlet {
    overflow: visible;
    width: 328px;
    margin-top: 0;
    margin-bottom: 25px;
    padding: 0;
    border-radius: 4px;
    box-shadow: 0 2px 1px rgba(0, 0, 0, 0.15);
    -webkit-box-shadow: 0 2px 1px rgba(0, 0, 0, 0.15);
    cursor: default;
    user-select: none;
}

.custom-rearrange-job-order-menu2 {
    margin-left: 4px;
    display: block;
}

#custom-rearrange-job-order-menu-div-wrapper {
    position: absolute;
    overflow-y: scroll;
    overflow-x: hidden;
    width: 46px;
    max-height: 194px;
    top: 30px;
    background: #fff;
    border: 1px solid #a7a7a8;
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.2);
    z-index: 999;
    min-width: 46px;
    color: orangered;
}

#custom-rearrange-job-order-menu-wrapper {
    width: 100%;
    background: #fff;
    min-width: 46px;
    color: orangered;
}

.portlet.box > .portlet-title > .panel-tools a {
    margin: 0 0 0 6px;
}

.tool-ico-rearrange {
    display: block;
    width: 15px;
    height: 15px;
    line-height: 15px;
    background: url(../images/tool_ico_rearrange.png) no-repeat;
    vertical-align: middle;
}

.source_num .line_bar_red {
    border-right: 0.5em solid #ff4500;
}

.source_num .line_bar_blue {
    border-right: 0.5em solid #1714FF;
}

.source_num .line_bar_green {
    border-right: 0.5em solid #14FF1A;
}

.location {
    margin-bottom: 0;
}

.tool-ico-revert {
    display: block;
    width: 15px;
    height: 15px;
    line-height: 15px;
    background: url(../images/tool_ico_revert.png) no-repeat;
    vertical-align: middle;
}

.custom-cf-url-list-item {
    padding: 10px;
    min-height: 20px;
}

.custom-cf-url-list-item > div {
    float: left;
    width: 46%;
    font-size: 15px;
}

.custom-cf-url-list-item:hover {
    background-color: #f3f5f7;
}

.custom-cf-url-list-item a:hover {
    color: #fda811;
}

.custom-profile-selected {background-color: #efefef;}
.rule_desc {padding:10px 20px;line-height: 1.5;}
.rule_desc h2 {font-size:14px; font-weight:bold;}
.rule_desc h3,.rule_desc h4,.rule_desc h5,.rule_desc h6,.rule_desc h3,.rule_desc h4,.rule_desc h5,.rule_desc h6{font-size:13px;font-weight:500}
.rule_desc code,.rule_desc pre {font-family:Consolas,Liberation Mono,Menlo,Courier,monospace;font-size:12px}
.rule_desc code{padding:.2em .45em;margin:0;background-color:rgba(0,0,0,.04);border-radius:3px;white-space:nowrap}
.rule_desc pre>code{padding:0;background-color:transparent;white-space:pre}
.rule_desc blockquote{border-left: 3px solid #e6e6e6;padding-left:15px;padding-right:15px;font-size: 12px}
.rule_desc ul{padding-left:40px;line-height:10px;list-style-type: disc;}
.rule_desc ul>li{line-height:18px;list-style-type: disc;white-space: normal;}
.rule_desc a {
    border-bottom: 1px solid #cae3f2;
    color: #236a97;
    cursor: pointer;
    outline: none;
    text-decoration: none;
    transition: all .2s ease;
}
.rule_desc ol{padding-left:40px;list-style:decimal}
.rule_desc table{min-width:50%;border-collapse:collapse;border:1px solid #e6e6e6}
.rule_desc th{background-color:#f3f3f3;font-weight:500;text-align:center}
.rule_desc pre {
    padding: 10px;
    border-top:1px solid #dedfe3;
    border-bottom:1px solid #dedfe3;
    line-height: 18px;
    overflow: auto;
}

.btn-sm {
    padding: 2px 8px;
    font-size: 12px;
    line-height: 1.5;
    border-radius: 2px;
    color: #666666;
    background: #dedfe3;
}

.btn-sm:hover {
    color: #eeeeee;
    background: #333333;
}

.btn-sm:focus {
    outline: none !important;
    box-shadow: none;
}

.source_view_wrapper {
    width: 100%;
    background-color: #eceef2;
    border: #dddddd solid 1px;
}

.source_view_left_wrapper {
    float: left;
    padding: 0 0 0 10px;
    min-width: 190px;
    line-height: 20px;
    min-height: 4px;
}

.source_view_number {
    float: left;
    width: 40px;
}

.source_view_author {
    float: left;
    width: 104px;
    max-width: 104px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.source_view_coverage_line {
    float: left;
    width: 6px;
    min-width: 6px;
    background-color: transparent;
}

.coverage_line_covered {
    background-color: #85bb43;
}

.coverage_line_uncovered {
    background-color: #d4333f;
}

.source_view_issue {
    float: left;
    width: 40px;
    text-align: center;
    vertical-align: bottom;
}

.source_view_right_wrapper {
    padding: 0 0 0 10px;
    overflow: hidden;
    background-color: #ffffff;
    line-height: 20px;
    min-height: 4px;
}

.rule_description_area_wrapper {

    padding: 10px 0 10px 20px;
    min-height: 20px;
    border: #eea236 1px solid;
    border-radius: 4px;
    background-color: #ffffff;
}

.source_view_issue_rule_name_area {
    width: 100%;
    margin: 10px 0 10px -20px;
    padding: 10px 10px 10px 20px;
    background-color: #666666;
    color: #ffffff;
}

.jacocoPluginScript {
    width: 96%;
    float: left;
    margin: 15px 0 10px 0;
    font-size: 14px;
    color: #7186ad;
    font-weight: 600;
    background: url(../images/ico_bullet01.gif) left 7px no-repeat;
    padding-left: 11px;
}

.jacocoPluginScript:hover {
    color: #eea236;
    cursor: pointer;
}
